#sobrenos{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 96px 0;
    height: 407px;
    gap: 24px;
}

.cabecalho__sobre{
    color: var(--cor-vermelho);
    font-weight: 600;
  
}

.cabecalho__pergunta{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: var(--cor-preto);
}

.cabecalho__texto{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 791px;
}